{% extends 'base.html.twig' %}

{% block title %}Liste des Parcours{% endblock %}

{% block body %}
<style>
    .example-wrapper {font: 18px/1.5 sans-serif; background-color: #F5F5F5;}
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <form  method="get" id="form">
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th style="text-align: center; vertical-align: middle;">Utilisateur <a class="link-primary" id="sort_user">Default</a></th>
                    <th style="text-align: center; vertical-align: middle;">Type de sortie <a class="link-primary" id="sort_sortie">Default</a></th>
                    <th style="text-align: center; vertical-align: middle;">Heure de début <a class="link-primary" id="sort_heure">Default</a></th>
                    <th style="text-align: center; vertical-align: middle;">Distance <a class="link-primary" id="sort_distance">Default</a></th>
                    <th style="text-align: center; vertical-align: middle;" >
                        <button type="button" class="btn btn-success"  name="ajout" id="ajout" data-bs-toggle="modal" data-bs-target="#modal_modifier"
                        onclick="modifier()"> 
                            Ajouter un parcour
                        </button>
                        <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#modal_supprimer"  onclick="supprimer()">Supprimer tous les parcours</button>
                        <button type="button" class="btn btn-secondary"  name="extract" id="extract" data-bs-toggle="modal" data-bs-target="#modal_supprimer"
                        onclick="exporter()"> 
                            Exporter un parcour
                        </button>
                       
                    </th>
                    <th style="text-align: center; vertical-align: middle;" width="150px">
                        <label for="checkall">
                            <input type="checkbox" id='checkall' name="checkall" > Tout cocher
                        </label>      
                    </th>
                </tr>
                <tr>
                <th style="text-align: center; vertical-align: middle;">
                    <input type="text" id="user" name="user">
                </th>
                <th style="text-align: center; vertical-align: middle;">
                    <input type="text" id="sortie" name="sortie">
                </th> 
                <th style="text-align: center; vertical-align: middle;">
                    <input type="date" id="dateD" name="dateD">
                    <input type="time" id="heureD" name="heureD">
                </th> 
                <th style="text-align: center; vertical-align: middle;">
                    <input type="number" id="distance" name="distance" min="0" step=".1">
                </th> 
                <th style="text-align: center; vertical-align: middle;">
                    
                </th> 
                <th style="text-align: center; vertical-align: middle;">
                    <label class="switch">
                        <input type="checkbox" id="checkExport" name="checkExport" onclick="modExport()">
                        <span class="slider round"></span>
                    </label>
                </th>
            </tr>
            </thead>
            <tbody id="parcours">  
            {% for unParcour in parcours %}
                <tr>
                    <td style="text-align: center; vertical-align: middle;">{{unParcour.user.username}}</td>
                    <td style="text-align: center; vertical-align: middle;">{{unParcour.TypeSortie.libelle}}</td>
                    <td style="text-align: center; vertical-align: middle;">{{unParcour.heureDebut|date("H:i")}}</td>
                    <td style="text-align: center; vertical-align: middle;">{{unParcour.distance}}</td>
                    <td style="text-align: center; vertical-align: middle;">
                        <button type="button" class="btn btn-warning"  name="{{unParcour.id}}" id="{{unParcour.id}}" data-bs-toggle="modal" data-bs-target="#modal_modifier" 
                        onclick="modifier('{{unParcour.commentaire}}','{{unParcour.heureDebut|date("Y-m-d")}}','{{unParcour.heureDebut|date("H:i")}}','{{unParcour.id}}')"> 
                            Modifier
                        </button>
                        <button type="button" class="btn btn-danger"  name="sup" id="sup" data-bs-toggle="modal" data-bs-target="#modal_supprimer" onclick="supprimer('{{unParcour.id}}')">Supprimer</button>
                        
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        <input type="checkbox" id='{{unParcour.id}}' name="{{unParcour.id}}">
                    </td>
                </tr>
            {% endfor %}   
            </tbody>
        </table>
    
        <div class="modal fade" id="modal_supprimer" tabindex="-1" data-bs-keyboard="true" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
            <div class="modal-dialog" >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="supModalLongTitle"> Suppression du parcour </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <p id="pModalAutre">Êtes-vous sur de vouloir supprimer ce parcour ?</p>
                        </div>     
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modalNon">Non</button>
                        <input type="hidden" class="btn btn-danger delete"  id="type" name="type" value="parcour">
                        <input type="submit" class="btn btn-danger delete"  id="submitAutre" value="Oui">            
                    </div>
                </div>
            </div> 
        </div>
    </form>
</div>


<div class="modal fade" id="modal_modifier" tabindex="-1" data-bs-keyboard="true" 
aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titreModalParcour"> Modification du parcour </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    {{form_start(formParcour)}}
                        <p>Utilisateur: {{form_widget(formParcour.user)}}</p>
                        <p>Type de sortie: {{form_widget(formParcour.TypeSortie)}}</p>
                        <p>Commentaire: {{form_widget(formParcour.commentaire)}}</p>
                        <p>Heure de début: {{form_widget(formParcour.heureDebut)}}</p>
                        <p>Distance: <input type="number" id="distance" name="distance" min="0" step=".1"></p>
                        <input id="ID" name="ID" type="hidden"> 
                        {{form_widget(formParcour.reset)}}      
                </div>                
            </div>
            <div class="modal-footer">
                {{form_widget(formParcour.Valider)}}
                <a type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modalNon" >Non</a>
            {{form_end(formParcour)}}             
            </div>
        </div>
    </div>
</div>

<ul class="pagination justify-content-center" >
    <nav>
        <ul class="pagination" id="pages">
               
        </ul>
    </nav>
</ul>
{% endblock %}


{% block javascripts %}
<script src="/Javascript/parcour.js"></script>
<script src="/Javascript/gestion.js"></script>
<script>
    $(document).ready(function(){   
        $.ajax({
            url: "menuJSON?type=parcour",
            context: document.body,
            dataType:'json',
            
            
            success: function(element){
                
                window.ListeBase=element
                window.exception=['id','commentaire','heureDebut','DateFormat','HeureFormat']
                
                document.getElementById('user').value=""
                document.getElementById('sortie').value=""
                document.getElementById('distance').value=""
                document.getElementById('heureD').value=""
                document.getElementById('dateD').value=""
                
               
                
                document.getElementById('checkExport').checked=false
                document.getElementById('checkall').disabled=true
                document.getElementById('checkall').checked=false

                window.user=""
                window.heureDebutTime=""
                window.heureDebutDate=""
                window.distance=""
                window.sortie=""
               
                
                
                
                window.tbody=document.getElementById('parcours')
                window.buttonsRow=tbody.children[0].children[4]
               
                window.boolExport=false
                trie('id',false)

                
            }
        })
    })
    $('#checkall').change(function () {
        if(this.checked){
            Array.from(window.tbody.children).forEach(function(e){
                e.children[5].children[0].checked=true
                window.listeExport.push(e.children[5].children[0].getAttribute('id'))
            
            })
            
        } 
        else{
            
            Array.from(window.tbody.children).forEach(function(e){
               

                
                if(window.listeExport.includes(e.children[5].children[0].getAttribute('id'))&&e.children[5].children[0].checked){
                    window.listeExport.splice(window.listeExport.indexOf(e.children[5].children[0].getAttribute('id')),1)
                    e.children[5].children[0].checked=false
                }
                
                
            })
            
        }
        
        
   
    });
        

   

   
    
    $('#user').keyup(function(e){
            
        target=e.target.value

        window.user=target
        
        modif(0,10,1,window.ListeBase)
        
        

    })
    $('#sortie').keyup(function(e){
        
        target=e.target.value
        window.sortie=target
        modif(0,10,1,window.ListeBase)
    })

    $('#dateD').change(function(e){
            
        target=e.target.value
        date=new Date(target)
        window.heureDebutDate=date
        subDate=target.split('-')
        window.date=subDate[2]+'/'+subDate[1]+'/'+subDate[0]
        
        

        modif(0,10,1,window.ListeBase)

    })
    $('#distance').change(function(e){
            
        target=e.target.value
        window.distance=target
        console.log(target)
        modif(0,10,1,window.ListeBase)

    })
    /*$('#heureD').change(function(e){
            
        target=e.target.value
        date=new Date('',target+":00")
        window.heureDebutTime=date
        console.log(date)
        subDate=target.split('-')
        window.date=subDate[2]+'/'+subDate[1]+'/'+subDate[0]
        
        

        modif(0,10,1,window.ListeBase)

    })*/
    $('#sort_user').click(function(){
    
        
        if(this.innerHTML=="Default"){
            trie('username',false)
            this.innerHTML="A...Z"
        }
        else if(this.innerHTML=="A...Z"){
            trie('username',true)
            this.innerHTML="Z...A"
        }
        else{
                    
            trie('id',false)
            this.innerHTML="Default"
        }
        
    })
    $('#sort_sortie').click(function(){
    
        
        if(this.innerHTML=="Default"){
            trie('sortie',false)
            this.innerHTML="A...Z"
        }
        else if(this.innerHTML=="A...Z"){
            trie('sortie',true)
            this.innerHTML="Z...A"
        }
        else{
                    
            trie('id',false)
            this.innerHTML="Default"
        }
        
    })
    $('#sort_distance').click(function(){
    
        
        if(this.innerHTML=="Default"){
            trie('distance',false)
            this.innerHTML="A...Z"
        }
        else if(this.innerHTML=="A...Z"){
            trie('distance',true)
            this.innerHTML="Z...A"
        }
        else{
                    
            trie('id',false)
            this.innerHTML="Default"
        }
        
    })
     $('#sort_heure').click(function(){
    
        
        if(this.innerHTML=="Default"){
            trie('heureDebut',false)
            this.innerHTML="A...Z"
        }
        else if(this.innerHTML=="A...Z"){
            trie('heureDebut',true)
            this.innerHTML="Z...A"
        }
        else{
                    
            trie('id',false)
            this.innerHTML="Default"
        }
        
    })
</script>
{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="CSS/switch.css" type="text/css">{% endblock %}